.tabs {
    background: var(--white);
}

.tabs__input {
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
    position: absolute;
}

.tabs__label {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    color: var(--text-secondary);
}
.tabs__label:hover {
    color: var(--text-primary);
}


.tabs__label::after {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    top: 100%;
    background-color: var(--font-color);
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}
.tabs__label:hover::after {
    transform: scaleX(1);
}

.tabs__scroller {
    background: var(--main-bg);
    border-bottom: 1px solid var(--grey-2);
}

#all-tab:checked ~ .tabs__scroller .tabs__label[for='all-tab']::after {
    transform: scaleX(1);
}

#all-tab:checked ~ .tabs__scroller .tabs__label[for='all-tab'] {
    color: var(--text-primary);
}

.tabs__content_complex {
    display: none;
}

.tabs__content_simple {
    display: none;
}

#all-tab:checked ~ .tabs__content_complex {
    display: block;
}

#atoms-tab:checked ~ .tabs__content_simple {
    display: block;
}

#atoms-tab:checked ~ .tabs__scroller .tabs__label[for='atoms-tab']::after {
    transform: scaleX(1);
}

#atoms-tab:checked ~ .tabs__scroller .tabs__label[for='atoms-tab'] {
    color: var(--text-primary);
}

#simple-tab:checked ~ .tabs__scroller .tabs__label[for='simple-tab']::after {
    transform: scaleX(1);
}

#simple-tab:checked ~ .tabs__scroller .tabs__label[for='simple-tab'] {
    color: var(--text-primary);
}

.tabs__label:not(:first-child) {
    margin-left: 40px;
}

.tabs__menu {
    display: flex;
}
