html[data-theme-dark] {
  --main-bg: var(--black);
  --grey-bg: var(--grey-4);
  --modal-bg: rgba(255, 255, 255, .4);
  --font-color: var(--white);
  --card-bg: var(--black);
  --text-primary: var(--white);
  --text-secondary: var(--grey-3);
}