.avatar {
    padding: 24px ;
}

.avatar__img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 400px){
    .avatar {
        padding: 40px ;
    }
}