@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app__container {
    margin: 0 auto;
    padding: 0 15px;
}

.app__container-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 23px 12px;
}

@media screen and (min-width: 400px){
    .app__container {
        max-width: 630px;
    }

    .app__container-row {
        gap: 30px;
    }
}

@media screen and (min-width: 768px){
    .app__container {
        max-width: 930px;
    }

    .app__container-row {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width: 1024px){
    .app__container {
        max-width: 1110px;
    }
}
