.calendar {
    width: 100%;
    max-width: 400px;
}

.calendar__title {
    text-align: center;
    font-size: 16px;
    color: var(--grey-4);
    font-weight: 600;
    padding-bottom: 10px;
}


.calendar__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.calendar__item-day {
    font-size: 8px;
    line-height: 12px;
    color: var(--grey-3);
}

.calendar__item-date {
    font-size: 10px;
    line-height: 16px;
    color: var(--grey-4);
}

.calendar__item-date_active {
    color: var(--white);
    background-color: var(--blue);
}

.calendar__item-date_range {
    background-color: var(--light-blue);
}

.calendar__wrapper {
    position: relative;
    padding-bottom: 100%;
}


.calendar__inner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 400px){
    .calendar__title {
        font-size: 18px;
        padding-bottom: 12px;
    }

    .calendar__item-day {
        font-size: 10px;
        line-height: 14px;
    }

    .calendar__item-date {
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (min-width: 768px){
    .calendar__title {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .calendar__item-day {
        font-size: 12px;
        line-height: 20px;
    }

    .calendar__item-date {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (min-width: 1024px){
    .calendar__title {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .calendar__item-day {
        font-size: 14px;
        line-height: 20px;
    }

    .calendar__item-date {
        font-size: 16px;
        line-height: 20px;
    }
}